<section>
    <div class="OrderHeadline"><h2>HOW TO ORDER</h2></div>

    <div class="pick">
        <div>
            <img src="./../../../assets/img/broth.png" alt="">
            <span>CHOOSE YOUR BROOTH</span>
        </div>
        <div>
             <img src="./../../../assets/img/noodle.png" alt="">
             <span>CHOOSE YOUR NOODLES</span>
            </div>
        <div><img src="./../../../assets/img/egg.png" alt="">
            <span>CHOOSE YOUR TOPPINGS</span></div>
    </div>
   
  
</section>
